.container{
    display: flex;
    justify-content: center;
    background: rgb(46, 44, 44);
}

.board{
    margin: 2px;
    padding: 4px;
    border: solid black;
    width: 700px;
    height:700px;
    background-color: #769656;
}

.black{
    display: inline-block;
}